{% load base_tags %}
{% load static %}

<input type="hidden" id="Comment-Url" data-url="{% url 'comment:add-comment' %}" />
<input type="hidden" id="CSRF" data="{{ csrf_token }}" />

<script src="{% static 'js/add_comment.js' %}" type="text/javascript"></script>

{% if request.user.is_authenticated %}
    <div class="input-group mb-3">
        <input type="text" name="body" id="id_comment" class="form-control" placeholder="Add Comment"  aria-describedby="basic-addon2">
        <div class="input-group-append">
        <button class="btn btn-outline-success" type="button" id="comment-submit"
        onclick="add_comment({{object|get_model_content_type_id}}, {{object.id}})">
            Submit
        </button>
        </div>
    </div>


{% else %}
    <a href={% url 'account_login' %}>Login to comment this object.</a>
{% endif %}
