{% extends 'base/_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Forum Detail {% endblock title %}

{% block body %}

<div>
    <h3>{{ forum.title }}</h3>
    <hr>
    <small>Created by: <a href="{% url 'authentication:profile' forum.author.id forum.author.token %}">{{ forum.author }}</a>
    at: {{ forum.date }}</small>
    <br>
    <hr>
    <p>{{ forum.body }}</p>
    <hr>
    <h2>Rate this forum</h2>
    <h6>Total likes</h6>
    <h6>Total dislikes: </h6>

    <a href="#"><i class="fa fa-thumbs-up"></i></a>
    <a href="#"><i class="fa fa-thumbs-down"></i></a>
    <hr>
    <h2>Comments</h2>
    {% if not forum.closed %}
        <form action="" method="post">{% csrf_token %}
            <div class="input-group mb-3">
              <input type="text" name="body" id="id_body" class="form-control" placeholder="Answer this forum" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Add</button>
              </div>
            </div>
        </form>
    {% else %}
        <h5>This Forum is closed</h5>
    {% endif %}
    <hr>
        {% for comment in comments %}
            <div class="card">
              <div class="card-header">
                  <a href="{% url 'authentication:profile' comment.user.id comment.user.token %}" >{{ comment.user }}</a> at {{ comment.date }}
                  {% if comment.user == request.user or forum.author == request.user %}
                      |
                      <a href="{% url 'forum:delete-comment' forum.id forum.slug %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                  {% endif %}

              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>{{ comment.body }}</p>
                    <hr>
                </blockquote>
              </div>
            </div>
        <br>
        {% empty %}
            <h4>No comment available</h4>
        {% endfor %}
</div>

{% endblock body %}