{% extends 'base/base.html' %}
{% load static %}

{% block title %} Home page {% endblock title %}


{% block main %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="sidenav">
    {% for parent in parent_categories %}

          <button class="dropdown-btn">{{parent}}
            <i class="fa fa-caret-down"></i>
          </button>

              <div class="dropdown-container">
                  {% for child in parent.children.all %}
                    <a href="{% url 'customer:filter-category' child.id child.slug %}">{{ child }}</a>
                  {% endfor %}
              </div>

    {% endfor %}

</div>

<div class="main">

    <div class="shadow p-4 mb-5 bg-body rounded">
        <form method="get" action="{% url 'customer:search-product' %}">{% csrf_token %}
            <div class="input-group mb-3">
                    <input type="text" name="q" class="form-control" placeholder="Search Your product" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">GO</button>
                      </div>
            </div>
        </form>
        <hr>

          {% for product in products %}

            <div class="card mb-4 " style="width: 15rem; display:inline-block;">
                  {% if product.picture %}
                    <img class="card-img-top" src="{{ product.picture.url }}" alt="Card image cap" width="70px;" height="250px;">
                  {% endif %}

                  <div class="card-body">
                      <a href="{% url 'vendor:product-detail' product.id product.slug %}"> <p class="card-text">{{ product.title }}</p> </a>
                      <hr>
                      <p class="card-text">©{{ product.price }}</p>
                  </div>
            </div>
        {% empty %}
            <h6>There is no product available.</h6>
        {% endfor %}

    </div>
</div>
<script src="{% static 'js/dropdown.js' %}"></script>
{% endblock main %}