{% extends 'base/_base.html' %}

{% block title %}  Result {% endblock title %}


{% block body %}

    {% for product in products %}
            <div class="card" style="width: 15rem mb-4; display:inline-block;">
                  {% if product.picture %}
                    <img class="card-img-top" src="{{ product.picture.url }}" alt="Card image cap" width="70px;" height="250px;">
                  {% endif %}

                  <div class="card-body">
                      <a href="{% url 'products:product-detail' product.id product.slug %}"> <p class="card-text">{{ product.title }}</p> </a>
                      <hr>
                      <p class="card-text">©{{ product.price }}</p>
                  </div>
            </div>
        {% empty %}
            <h6>No result available.</h6>
        {% endfor %}

{% endblock body %}