{% load base_tags %}
{% if request.user.is_authenticated %}
{% load static %}

<input type="hidden" id="Url" data-url="{% url 'votes:vote' %}" />
<input type="hidden" id="CSRF" data="{{ csrf_token }}" />
<input type="hidden" id="objectContentTypeId" value="{{ object|get_model_content_type_id }}" />


<script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>

<div class="pr-2">
    <span class="" id="upvotes_count">{{object.votes.upvotes_count}}</span>
    <button class="btn btn-link text-dark p-0 border-0 btn-outline-light" id="upvote-button" 
    onclick="reaction({{ object.id }}, 'upvote')">
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <i  class="fa fa-thumbs-up"></i>
    </button>

    <br>
    <span class="" id="downvotes_count">{{object.votes.downvotes_count}}</span>
    <button class="btn btn-link text-dark p-0 border-0 btn-outline-light" id="downvote-button" 
    onclick="reaction({{ object.id }}, 'downvote')">
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <i class="fa fa-thumbs-down"></i>
    </button>
</div>


{% else %}
<a href={% url 'account_login' %}>Login to rate this object.</a>
{% endif %}

<script src="{% static 'js/votes.js' %}" type="text/javascript"></script>
