{% extends 'base/_base.html' %}
{% load static %}

{% block title %} Chat Detail {% endblock title %}

{% block body %}

<hr>
    <div class="shadow-none p-3 mb-5 bg-light rounded">
        <div id='message-log' style="height:350px; overflow-y: scroll;">
            {% for message in all_messages %}
                <div id='{{message.code}}'>
                  <div class="card">
                    <div class="card-header">
                        {{ message.sender }} | {{ message.date }} | Seen: {{ message.is_seen }} | Edited: {{ message.is_edited }}
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p id='{{message.code}}_text'>{{ message.text }}</p>
                          <hr>
                          {% if message.sender == request.user %}
                              {% include 'chats/update-message.html' %}
                                <footer class="blockquote-footer">
                                  <button type="button"  data-toggle="modal" data-target="#update_{{message.code}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                      <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                    </svg>
                                  </button>

                                    <button id='delete_{{message.code}}' onclick="deleteMessage('{{message.code}}')">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                      </svg>
                                    </button>
                                </footer>
                          {% endif %}
                      </blockquote>
                    </div>
                  </div>
                </div>
            <br>
            {% empty %}
                <h1 id='no-message-found'>No message available</h1>
            {% endfor %}
            {% if  messages %}
              <form method="get">
                <button class="btn btn-outline-secondary" type="button" onclick="loadMore()">Load More</button> 
              </form>
            {% endif %}
        
          
        </div>
        <br>
        <div class="input-group mb-3">
          <input type="text" name="text" id="message-input" class="form-control" placeholder="New Message" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" id='message-submit' type="button">Send</button>
          </div>
        {{ chat_id|json_script:"chat_id" }}
        {{ chat_code|json_script:"chat_code" }}
        <div id="username" style="display: none;">{{ request.user.username }}</div>
        <script type="text/javascript" src="{% static 'js/message.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/load_messages.js' %}"></script>
    </div>

    
{% endblock body %}



