{% extends 'base/_base.html' %}

{% block title %} Cart page {% endblock title %}


{% block body %}

    {% for order in orders %}
        <div class="container">
          <div class="row">
            <div class="col-sm">
                {{ order.code }}
            </div>
            <div class="col-sm">
                {{ order.get_status_display }} | <a href="{% url 'accounts:profile' order.item.seller.id order.item.seller.token %}">
              contact</a>
            </div>

            <div class="col-sm">
              {{ order.date }}
            </div>

            <div class="col-sm">
                {% if order.status == "o" %}
                    <a href="{% url 'orders:delete-order' order.id order.code %}" class="btn btn-danger">Delete</a>
                {% elif order.status == "p" %}
                    wait for shipping
                {% elif order.status == "a" %}
                    <a href="{% url 'orders:pay-order' order.id order.code %}" class="btn btn-success">Pay</a>
                {% elif order.status == "r" %}
                  Rejected
                {% elif order.status == "s" %}
                  Sent
                {% endif %}
            </div>
          </div>
        </div>
    <hr>
    {% empty %}
        <h3>No Item available</h3>
    {% endfor %}

{% endblock body %}