{% extends 'base/_base.html' %}

{% block title %} Order List {% endblock title %}

{% block body %}

    <h2>Order List</h2><br>

    <table class="table">
        <thead>
            <tr>
                <th>Order</th>
                <th>Product</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td><a href="{% url 'orders:order-detail' order.id order.token %}">{{ order.token }}</a></td>
                    <td><a href="{% url 'products:product-detail' order.product.id order.product.slug %}">{{ order.product }}</a></td>
                    <td>{{ order.get_status_display }}</td>
                    <div class="col-sm">
                        {% if order.status == "o" %}
                        <td>
                            <a href="{% url 'orders:delete-order' order.id order.token %}" class="btn btn-danger">Delete</a>
                        </td>
                        
                        {% elif order.status == "p" %}
                            <td>Item is preparing</td>
                        {% elif order.status == "a" %}
                            <td><a href="{% url 'orders:pay-order' order.id order.token %}" class="btn btn-primary">Pay</a></td>
                        {% else %}
                            <td><p>Item is shipped.</p></td>
                        {% endif %}
                    </div>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No order available</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock body %}
