{% extends 'base/_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Article Detail {% endblock title %}

{% block body %}

<div style="text-align:center;">
    <h3>{{ article.title }}</h3>
    <hr>
    <small>Author: <a href="{% url 'accounts:profile' article.author.id article.author.token %}">{{ article.author }}</a>
    at: {{ article.date }}</small>
    <br>
    {% if article.product %}
        <small>
            For product(s) <a href="{% url 'vendor:product-detail' article.product.id article.product.slug %}">{{ article.product }}</a>
        </small>
    {% endif %}
    <br><br>
    {% if not article.published %}
        <a  class="btn btn-success" href="{% url 'blog:article-publish' article.id article.slug %}">Publish</a>
    {% endif %}
    <br>
    <hr>
    <p>{{ article.body }}</p>
    <hr>
    {% include "vote/vote.html" %}
    <hr>
    {% include "comment/comment.html" %}
  
    <hr>
</div>

{% endblock body %}