{% extends 'base/_base.html' %}


{% block title %} Order List {% endblock title %}


{% block body %}

    {% for order in orders %}
        <div class="container">
          <div class="row">
            <div class="col-sm">
                <a href="{% url 'order:order-detail' order.id order.code %}">{{ order.code }}</a>
            </div>
            <div class="col-sm">
                {{ order.get_status_display }}
            </div>
              
            <div class="col-sm">
                <a href="{% url 'accounts:profile' order.customer.id order.customer.token %}">{{ order.customer }}</a>
            </div>
              
            <div class="col-sm">
                {% if order.status == "o" %}
                    <a href="{% url 'products:accept-order' order.id order.code %}" class="btn btn-success">Accept</a>
                    <a href="{% url 'products:reject-order' order.id order.code %}" class="btn btn-danger">Decline</a>
                {% elif order.status == "p" %}
                    <a href="{% url 'products:send-order' order.id order.code %}" class="btn btn-success">Send product</a>
                {% elif order.status == "a" %}
                    wait for payment
                {% endif %}
            </div>
          </div>
        </div>
    <hr>
    {% empty %}
        <h3>No order available</h3>
    {% endfor %}

{% endblock body %}