{% extends 'base/_base.html' %}
{% load static %}


{% block title %} {{product.title}} {% endblock title %}


{% block body %}
<div class="row no-gutters">
            <div id="message"></div>
    
            <input type="hidden" id="CREATE_ORDER_URL" data-url="{% url 'orders:create-order' object.id object.slug%}" />
            <input type="hidden" id="CSRF" data="{{ csrf_token }}" />
            <div class="col-auto">
                {% if product.picture %}
                        <img src="{{ product.picture.url }}" width="470px;" height="470px" class="rounded float-left">
                {% else %}
                    <h3>No picture were provided.</h3>
                {% endif %}
            </div>

            <div class="col">
                <div class="card-block px-2">

                    <h4 class="card-title">{{ product.title }}</h4> <br>

                    {% if product.is_available %}
                        <p class="card-text" style="color:red;">Price: ©{{ product.price }}</p>
                    {% endif %}

                    <div class="shadow-none p-3 mb-5 bg-light rounded">
                        <p>provider: <a href="{% url 'accounts:profile' product.provider.id product.provider.token %}">{{ product.provider }}</a></p>

                        {% if  product.shipping_origin %}
                            <p>Ship from: {{ product.shipping_origin.unicode_flag }} {{ product.shipping_origin.code }}</p>
                        {% else %}
                            <p style="color:red;">No origin country were given, ask it from the provider.</p>
                        {% endif %}

                        {% if  product.shipping_destinations %}
                            <p>Ship from: {{ product.shipping_destinations.unicode_flag }} {{ product.shipping_destinations.code }}</p>
                        {% else %}
                            <p>World wide.</p>
                        {% endif %}

                        {% if  product.category %}
                            <p>Category: <a href="{% url 'products:product-list' %}?category={{product.category}}">{{ product.category.parent }} | {{ product.category }}</a></p>
                        {% endif %} 
                        {% if request.user == product.provider %}
                        <a href="{% url 'products:product-category' product.id product.slug %}" class="btn btn-secondary">
                            Category Setting
                        </a>
                        <a href="{% url 'products:update-product' product.id product.slug %}" class="btn btn-secondary">
                            Update Product
                        </a>
                        <a href="{% url 'products:delete-product' product.id product.slug %}" class="btn btn-danger">
                            Delete Product
                        </a>

                        {% endif %}
                        
                        {% if  request.user != product.provider %}
                            {% if product.is_available %}
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#orderInformationModal">
                                Add Order
                            </button>
                            
                            <div class="modal fade" id="orderInformationModal" tabindex="-1" role="dialog" aria-labelledby="orderInformationModalTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Order Information</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">

                                        <label for="product-quantity" class="col-form-label">Quantity:</label>
                                        <input type="text" class="form-control" id="id_quantity" required>
                                        <label for="product-quantity" class="col-form-label">Description:</label>
                                        <input type="text" class="form-control" id="id_description">

                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success"  data-dismiss="modal" onclick="create_order({{object.id}}, '{{object.slug}}')">
                                        Confirm
                                    </button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% else %}
                                <p style="color:red;">This item is unavailable.</p>
                            {% endif %}
                        {% endif %}
                        <hr>
                        {% include "vote/vote.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
            <hr>
            <h3>Description</h3>
            <p>{{ product.description }}</p>
        </div>
        <script src="{% static 'js/create_order.js' %}" type="text/javascript"></script>

{% endblock body %}