{% extends 'base/_base.html' %}


{% block title %} {{product.title}} {% endblock title %}


{% block body %}
<div class="row no-gutters">

            <div class="col-auto">
                {% if product.picture %}
                        <img src="{{ product.picture.url }}" width="470px;" height="470px" class="rounded float-left">
                {% else %}
                    <h3>No picture were provided.</h3>
                {% endif %}
            </div>

            <div class="col">
                <div class="card-block px-2">

                    <h4 class="card-title">{{ product.title }}</h4> <br>

                    {% if product.is_available %}
                        <p class="card-text" style="color:red;">Price: ©{{ product.price }}</p>
                    {% endif %}

                    <div class="shadow-none p-3 mb-5 bg-light rounded">
                        <p>provider: <a href="{% url 'accounts:profile' product.provider.id product.provider.token %}">{{ product.provider }}</a></p>

                        {% if  product.shipping_origin %}
                            <p>Ship from: {{ product.shipping_origin.unicode_flag }} {{ product.shipping_origin.code }}</p>
                        {% else %}
                            <p style="color:red;">No origin country were given, ask it from the provider.</p>
                        {% endif %}

                        {% if  product.shipping_destinations %}
                            <p>Ship from: {{ product.shipping_destinations.unicode_flag }} {{ product.shipping_destinations.code }}</p>
                        {% else %}
                            <p>World wide.</p>
                        {% endif %}

                        {% if  product.category %}
                            <p>Category: <a href="{% url 'customer:filter-category' product.category.id product.category.slug %}">{{ product.category.parent }} | {{ product.category }}</a></p>
                        {% endif %}
                        
                        {% if product.is_available %}
                            <a href="{% url 'customer:add-order' product.id product.slug %}" class="btn btn-success">
                                Add Order
                            </a>
                        {% else %}
                            <p style="color:red;">This item is unavailable.</p>
                        {% endif %}
                        <hr>
                        {% include "vote/vote.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer w-100 text-muted">
            <hr>
            <h3>Description</h3>
            <p>{{ product.description }}</p>
        </div>


{% endblock body %}