{% load base_tags %}
{% if request.user.is_authenticated %}
<script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>

<p style="display:none;" id="content-type-id">{{ object|get_model_content_type_id }}</p>

<div class="pr-2">
    <span class="" id="like_count">{{object.vote.likes}}</span>
    <button class="btn btn-link text-dark p-0 border-0 btn-outline-light" id="like-button" value="{{object.id}}">
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <i  class="fa fa-thumbs-up"></i>
    </button>

    <br>
    <span class="" id="dislike_count">{{object.vote.dislikes}}</span>
    <button class="btn btn-link text-dark p-0 border-0 btn-outline-light" id="dislike-button" value="{{object.id}}">
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <i class="fa fa-thumbs-down"></i>
    </button>
</div>

<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script> 
<script>
    const content_type_id = document.getElementById("content-type-id").innerHTML;

    $(document).on('click', '#like-button', function (e) {
        e.preventDefault();
        $.ajax({
          type: 'POST',
          url: "{% url 'vote:vote' %}",
          data: {
            object_id: $('#like-button').val(),
            content_type_id: content_type_id,
            vote_action: "like",
            csrfmiddlewaretoken: window.CSRF_TOKEN,
            action: 'post'
          },
          success: function (json) {
            document.getElementById("like_count").innerHTML = json['result']
          },
          error: function (xhr, errmsg, err) {
    
          }
        });
      });

      $(document).on('click', '#dislike-button', function (e) {
        e.preventDefault();
        $.ajax({
          type: 'POST',
          url: "{% url 'vote:vote' %}",
          data: {
            object_id: $('#dislike-button').val(),
            content_type_id: content_type_id,
            vote_action: "dislike",
            csrfmiddlewaretoken: window.CSRF_TOKEN,
            action: 'post'
          },
          success: function (json) {
            document.getElementById("like_count").innerHTML = json['result']
          },
          error: function (xhr, errmsg, err) {
    
          }
        });
      });

</script>
{% else %}
<a href={% url 'account_login' %}>Login to rate this object.</a>
{% endif %}