{% load base_tags %}
{% if request.user.is_authenticated %}
{% load static %}
<input type="hidden" id="Url" data-url="{% url 'vote:vote' %}" />
<input type="hidden" id="CSRF" data="{{ csrf_token }}" />

<script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>

<div class="pr-2">
    <span class="" id="like_count">{{object.vote.likes}}</span>
    <button class="btn btn-link text-dark p-0 border-0 btn-outline-light" id="like-button" 
    onclick="reaction({{ object|get_model_content_type_id }}, {{ object.id }}, 'like', 'like_count', 'dislike_count')">
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <i  class="fa fa-thumbs-up"></i>
    </button>

    <br>
    <span class="" id="dislike_count">{{object.vote.dislikes}}</span>
    <button class="btn btn-link text-dark p-0 border-0 btn-outline-light" id="dislike-button" 
    onclick="reaction({{ object|get_model_content_type_id }}, {{ object.id }}, 'dislike', 'like_count', 'dislike_count')">
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <i class="fa fa-thumbs-down"></i>
    </button>
</div>


{% else %}
<a href={% url 'account_login' %}>Login to rate this object.</a>
{% endif %}

<script src="{% static 'js/reaction.js' %}" type="text/javascript"></script>
