{% extends 'base/_base.html' %}

{% block title %} {% endblock title %}

{% block body %}

{{ chat }}
<hr>

    <div class="shadow-none p-3 mb-5 bg-light rounded">
        <div style="height:350px; overflow-y: scroll;">
            {% for message in all_messages %}
                <div class="card">
                  <div class="card-header">
                      {{ message.sender }} | {{ message.date }} | Seen: {{ message.is_seen }} | Edited: {{ message.is_edited }}
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <p>{{ message.text }}</p>
                        <hr>
                        {% if message.sender == request.user %}
                            {% if not message.is_seen %}
                                <footer class="blockquote-footer">
                                    <a href="{% url 'message:update-message' message.id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                          <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                        </svg>
                                    </a>
                                </footer>
                            {% endif %}
                        {% endif %}
                    </blockquote>
                  </div>
                </div>
            <br>
            {% empty %}
                <h1>No message available</h1>
            {% endfor %}
        </div>
        <br>
        <form action="" method="post">{% csrf_token %}
            <div class="input-group mb-3">
              <input type="text" name="text" id="id_text" class="form-control" placeholder="New Message" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Send</button>
              </div>
            </div>
        </form>
    </div>

{% endblock body %}