{% extends 'base/_base.html' %}

{% block title %} Messages List{% endblock title %}

{% block body %}


  {% for chat in chats  %}
    <br>
    <div class="card">
      <div class="card-body">
        <a href="{% url 'message:chat-detail' chat.id chat.code %}">{{ chat }}
          {% if chat.chats.last.sender != request.user and not chat.chats.last.is_seen %}
             <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                New Message
                <span class="visually-hidden">unread messages</span>
              </span>
          {% endif %}
        </a>
      </div>
    </div>

  {% empty %}

    <h3>Your chat list is empty...</h3>

  {% endfor %}

{% endblock body %}