{% extends 'base/_base.html' %}

{% block title %} {% endblock title %}

{% block body %}

{{ chat }}
<hr>

    <div class="shadow-none p-3 mb-5 bg-light rounded">
        <div style="height:350px; overflow-y: scroll;">
            {% for message in all_messages %}
                <div class="card">
                  <div class="card-header">
                      {{ message.sender }} | {{ message.date }} | Seen: {{ message.is_seen }} | Edited: {{ message.is_edited }}
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <p>{{ message.text }}</p>
                    </blockquote>
                  </div>
                </div>
            <br>
            {% empty %}
                <h1>No message available</h1>
            {% endfor %}
        </div>
        <br>
        <form action="" method="post">{% csrf_token %}
            <div class="input-group mb-3">
              <input type="text" name="text" id="id_text" class="form-control" placeholder="New Message" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Send</button>
              </div>
            </div>
        </form>
    </div>

{% endblock body %}