{% extends 'base/_base.html' %}

{% block title %} Messages List{% endblock title %}

{% block body %}


  {% for chat in creator_chats  %}
    <br>
    <div class="card">
      <div class="card-body">
        <a href="{% url 'message:chat-detail' chat.id chat.code %}">{{ chat }}</a>
      </div>
    </div>

  {% empty %}

    <h3>Your chat list is empty...</h3>

  {% endfor %}

{% for chat in member_chats  %}
    <br>
    <div class="card">
      <br><div class="card-body">
        <a href="{% url 'message:chat-detail' chat.id chat.code %}">{{ chat }}</a>
      </div>
    </div>

  {% endfor %}

{% endblock body %}