{% extends 'base/_base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{user}}'s Profile{% endblock title %}

{% block body %}
<h3>{{user}}'s Profile</h3>

<hr>
<h6>Username: {{ user.username }}</h6>
<h6>Date joined: {{ user.date_joined }}</h6>
<hr>
<h6>Likes: {{ likes }}</h6>
<h6>DisLikes: {{ dislikes }}</h6>
<hr>
<p>You can also rate this user via links below</p>
<a href="{% url 'authentication:like' user.id user.token %}"><i class="fa fa-thumbs-up"></i></a>
<a href="{% url 'authentication:dislike' user.id user.token %}"><i class="fa fa-thumbs-down"></i></a>
<hr>
<h6>Products:</h6>
{% for product in products %}
    <div class="card" style="width: 18rem; display:inline-block;">
          {% if product.picture %}
            <img class="card-img-top" src="{{ product.picture.url }}" alt="Card image cap" width="70px;" height="250px;">
          {% endif %}
          <div class="card-body">
              <a href="{% url 'vendor:product-detail' product.id product.slug %}"> <p class="card-text">{{ product.title }}</p> </a>
              <hr>
              <p class="card-text">©{{ product.price }}</p>
          </div>
    </div>
{% empty %}
    <h6>This User has not registered any product yet.</h6>
{% endfor %}
{% endblock body %}