{% extends 'base/_base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{user}}'s Profile{% endblock title %}

{% block body %}
<h3>{{user}}'s Profile</h3>

<hr>
<h6>Username: {{ user.username }}</h6>
<h6>Date joined: {{ user.date_joined }}</h6>
<h6>Reliability level: ...</h6>
<hr>
<p>You can also rate this user via links below</p>
<a href="#"><i class="fa fa-thumbs-up"></i></a>
<a href="#"><i class="fa fa-thumbs-down"></i></a>
<hr>
<h6>Products:</h6>
<!--list of products-->
{% endblock body %}